<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/footerDash.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css">
</head>

<body>
    
    <div class="footer">
        <p>Copyright © 2023 Streexzy. All rights reserved.</p>
    </div>

</body>

</html>